/* Global styles (:root is a pseudo-class). Used in conjunction with var() CSS function, can be used to insert the value of a custom property (sometimes called a "CSS variable") instead of any part of a value of another property */
:root {
  --primary-color: #2c9be0;
  --dark-color: #343a40;
  --light-color: #e4e4e4;
  --danger-color: #ef5350;
  --success-color: #81c784;
  --border-radius: 5px;
  --form-elem-border-radius: 3px;
  /* offset-x (neg. would be to left side), offset-y (neg. would be above), blur radius. Comma separates one set of shadows/single shadow from another */
  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --small-box-shadow: 0 3px 5px rgba(66, 66, 66, 0.19), 0 1px 3px rgba(39, 39, 39, 0.23);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 900px;
  margin: 6rem auto 3rem auto;
  padding: 0 2rem;
}

/* to apply a smaller max-width to any pages with forms, so inputs aren't as long */
.narrow-container {
  max-width: 600px;
  margin: 0 auto;
}

.banner-text {
  border-radius: var(--border-radius);
}

/* Text styles */

.h3 {
  font-size: 1.2rem;
}

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;
  color: #495057;
}

.lead i {
  margin-right: 0.2rem;
}

.lead-landing {
  font-size: 1.4rem;
  margin: 1rem 0 3rem;
  letter-spacing: 1px;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.75rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.py {
  padding: 0.5rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my {
  margin: 0.5rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.dash-buttons {
  margin: 3.5rem 0;
}

.btn {
  border-radius: var(--border-radius);
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.8rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  box-shadow: var(--small-box-shadow);
}

.dash-buttons .btn i, .delete-account-btn i {
  margin-right: 0.2rem;
}

.spinner {
  text-align: center;
}

.fa-spinner {
  margin-top: 5rem;
  color: var(--primary-color);
  padding: 1rem;
}

.fa-check {
  color: #808080;
  margin-right: 3px;
}

.badge {
  font-size: 0.8rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: var(--border-radius);
  margin: 0 0 0.5rem 0.7rem;
  background: var(--light-color);
  color: #333;
}

.badge:last-of-type {
  margin-bottom: 0;
}

@keyframes fade-in-out {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

.alert {
  padding: 0.8rem;
  text-align: center;
  margin: 1rem auto;
  opacity: 0.9;
  background: var(--light-color);
  border-radius: var(--border-radius);
  box-shadow: var(--small-box-shadow);
  color: #333;
  /* Seconds corresponds to milliseconds passed in to setTimeout in alert action creator */
  animation: fade-in-out ease-out 4s;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 0.9px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 0.9px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  border-radius: var(--form-elem-border-radius);
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  padding-left: 10px;
}

.form select {
  padding-left: 5px;
}

.form input[type="submit"],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}

.form .social-input i.fa-facebook {
  color: #3b5998;
}

.form .social-input i.fa-instagram {
  color: #3f729b;
}

.form .social-input i.fa-youtube {
  color: #c4302b;
}

.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table {
  width: 100%;
  margin-bottom: 4rem;
}

.table th,
.table td {
  padding: 1rem;
  text-align: center;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing page */
.landing {
  /* center center is background-position, cover is background-size (see https://stackoverflow.com/questions/31558245/declaring-all-css-background-properties-in-one-line-especially-background-size) */
  /* background-position (center center here) has a 2-value syntax: one value defines X and the other defines Y. Default value is top left or 0% 0% */
  background: url("./img/showcase.jpg") no-repeat center center / cover;
  height: 100vh;
  position: relative;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Profiles page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 2rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

/* Profile page */
.profile-grid {
  display: grid;
  grid-template-areas:
    "top top"
    "about about"
    "exp edu"
    "github github";
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.location {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.profile-about p {
  width: 70%;
  margin: auto;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-exp {
  grid-area: exp;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.profile-edu {
  grid-area: edu;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

/* Posts page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 1.5rem;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post p {
  width: 95%;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

/* Mobile styles */
@media (max-width: 700px) {
  .container {
    margin: 8rem auto 3rem auto;
  }

  .profile-github p {
    overflow-wrap: break-word;
  }

  .landing-inner {
    width: 80%;
  }

  .hide-sm {
    display: none;
  }

  /* Text styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 1.7rem;
    font-weight: normal;
  }

  .lead {
    font-size: 1.25rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles page */
  .profile {
    text-align: center;
    display: block;
  }

  .repo-text {
    max-width: 65%;
  }

  .profile .btn {
    margin-right: 0;
  }

  .profile ul {
    display: none;
  }

  /* Profile page */
  .profile-top img,
  .profile img {
    width: 200px;
    margin: 0 auto 1rem;
  }

  .profile-grid {
    grid-template-areas:
      "top"
      "about"
      "exp"
      "edu"
      "github";
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .profile-about p {
    width: 100%;
  }

  .dash-buttons .btn, .delete-account-btn {
    width: 80%;
    padding: 1rem;
    margin: 0 auto 1.5rem auto;
    /* Needed for margin-left and margin-right value of auto to center, since set to display: inline-block normally (see https://stackoverflow.com/questions/19076919/marginauto-with-inline-block) */
    display: block;
    text-align: center;
  }

  .post {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .post p {
    width: 100%;
  }

  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}
